.body{
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
overflow: hidden;
}
#fila1 {
    display: flex;
    justify-content: space-between;
    
}

#fila2 {
    display: flex;
    justify-content: center;
}

#fila3 {
    display: flex;
    justify-content: space-between;
}

#caja1,#caja2,#caja3,#caja4,#caja5 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #3498db;
}